<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- 
	<configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnvoiCommandeCRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	-->
    <connectionStrings>
        <add name="EnvoiCommandeCRM.Properties.Settings.VpTranferConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=localhost;Initial Catalog=TRANSFERT_VP_backup_2024_04_28_212502_2624838;User ID=usertest;Password=password2;"/><!-- Packet Size=4096;MARS Connection=True -->
        <add name="EnvoiCommandeCRM.Properties.Settings.GrpDiffConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=localhost;User ID=usertest;Password=password2;Initial Catalog=grpediffx5_backup_2024_04_28_213001_2305652;Packet Size=4096;MARS Connection=True" />
    </connectionStrings>
	<!-- 
	    <applicationSettings>
        <EnvoiCommandeCRM.Properties.Settings>
            <setting name="LienPlanning" serializeAs="String">
                <value>http://192.168.99.247:82/vplanning/resourceimport.do?PLANNING=VP+GROUPE+ADINFO&amp;IMPORT=Commandes+de+l%27intranet</value>
            </setting>
            <setting name="LienPlanningClient" serializeAs="String">
                <value>http://192.168.99.247:82/vplanning/resourceimport.do?PLANNING=VP+GROUPE+ADINFO&amp;IMPORT=C765-025B-00E1-0E1B-1C31-FC4F-9003-500B</value>
            </setting>
            <setting name="Cle_Token" serializeAs="String">
                <value>MACLESECRETE</value>
            </setting>
            <setting name="URL_Aditiger" serializeAs="String">
                <value>https://crm.groupeadinfo.org</value>
            </setting>
            <setting name="MySQLConnectionString" serializeAs="String">
                <value>server=ARTHURPAJOT\SQLEXPRESS;user=usertest;database=crm_cperfor;port=1433;password=password2</value>
            </setting>
        </EnvoiCommandeCRM.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
		-->
</configuration>
