<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnvoiCommandeCRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EnvoiCommandeCRM.Properties.Settings.AdinfoConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=VM-02-GRP-DIFF\VP;Integrated Security=SSPI;Initial Catalog=TRANSFERT_VP;Packet Size=4096;MARS Connection=True" />
        <add name="EnvoiCommandeCRM.Properties.Settings.CRMConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=ZZZZZVM-02-GRP-DIFF\VP;Integrated Security=SSPI;Initial Catalog=groupeadinfo_MSCRM;Packet Size=4096;MARS Connection=True" />
        <add name="EnvoiCommandeCRM.Properties.Settings.DivaltoConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=VM-02-GRP-DIFF\DIVALTO105;Integrated Security=SSPI;Initial Catalog=grpediffx5;Packet Size=4096;MARS Connection=True" />
        <add name="EnvoiCommandeCRM.Properties.Settings.VPConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=VM-02-GRP-DIFF\VP;Password=vh2UG5thJUv2et;User ID=vpuser;Initial Catalog=VP_UNIVERP;Packet Size=4096;MARS Connection=True" />
    </connectionStrings>
    <applicationSettings>
        <EnvoiCommandeCRM.Properties.Settings>
            <setting name="LienPlanning" serializeAs="String">
                <value>https://univerp.dilog.fr/vplanning/resourceimport.do?PLANNING=VP_UNIVERP&amp;IMPORT=11EF-1DA0-805C-FB0F-5914-40C5-FF72-9ECF</value>
            </setting>
            <setting name="LienPlanningClient" serializeAs="String">
                <value>https://univerp.dilog.fr/vplanning/resourceimport.do?PLANNING=VP_UNIVERP&amp;IMPORT=C765-025B-00E1-0E1B-1C31-FC4F-9003-500B</value>
            </setting>
            <setting name="MySQLConnectionString" serializeAs="String">
                <value>server=192.168.99.69;user=nexetoadm;database=crm_cperfor;port=3306;password=Pnqsdfr651</value>
            </setting>
            <setting name="URL_Aditiger" serializeAs="String">
                <value>https://crm.groupeadinfo.org</value>
            </setting>
            <setting name="Cle_Token" serializeAs="String">
                <value>MACLESECRETE</value>
            </setting>
        </EnvoiCommandeCRM.Properties.Settings>
    </applicationSettings>
</configuration>